<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Note information</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/show.css">
</head>

<body>
    <div id="menu" th:replace="bandeau"></div>

    <div id="title"><h1>Information about note :</h1></div>

    <div id="page" th:object="${note}">
        <p>Patient Id  : <span th:text="${note.patientId}"></span></p>
        <p>Recommendations : <span th:text="${note.recommendations}"></span></p>


    <div id="return" style="margin:auto">
        <a th:href="@{/view/notes/}"><button class="btn btn-primary">Return</button></a>
    </div>
    </div>

</body>
</html>