<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Note list</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/list.css">
</head>

<body>
    <div id="menu" th:replace="bandeau"></div>

    <div class="container" id="page">
    <div class="row" id="add_Note">
        <a th:href="@{/view/notes/add}"><button class="btn btn-primary">Add Note</button></a>
    </div>

    <div class="row" id="list_Note">
        <table class="table table-bordered">
            <thead>
            <tr  style="text-align:center">
                <th>Id</th>
                <th>PatientId</th>
                <th>Recommendations</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${notes.empty}">
                <td>No note</td>
            </tr>
            <tr th:each="note : ${notes}">
                <th style="width: 10%" th:text="${note.id}"></th>
                <th th:text="${note.patientId}" style="font-weight:lighter"></th>
                <th th:text="${note.recommendations}" style="font-weight:lighter"></th>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/view/notes/{id}(id=${note.id})}">Show</a>&nbsp;|&nbsp;
                    <a th:href="@{/view/notes/update/{id}(id=${note.id})}">Edit</a>&nbsp;|
                    <a th:href="@{/view/notes/delete/{id}(id=${note.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>